body{
    padding: 0%;
    margin: 0%;
    background-color: #d0d0d0;
    font-family: Arial, Helvetica, sans-serif; 
}
h1{
    padding: 35px;
    margin: 0%;
    text-align: center;
    background-image: url(image/heading1.jpg);
    font-family: fangsong;
    font-weight: 900;
}
header{
    background-color: #87bdd8;
    text-align: center;
    color: rgb(0, 4, 255);
    padding: 0px;
}
.stiky {
    background-color: #77a8a8;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1000;
    
}
.stiky-2{
    list-style-type: none;
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: center; 
}
.navitem{
    display: inline;
    padding: 10px;
    text-decoration: none;
}
.navitem a{
    text-decoration: none;
    color: rgb(14, 1, 1);
   
}

/* .Introduction .Midia .donation .Contact */
h2{
    text-decoration: underline;
}

/* Introduction */
.Introduction{
    padding: 0%;
    margin: 0%;
    text-align: center;
    background-color: #d0d0d0;
}

/* Midia */
.Midia{
    padding: 0%;
    margin: 0%;
    text-align: center;
    background-color: #d0d0d0;  
}

/* for image code arrangment */
img{
    width: 150px;
}

/* donation decoration */
.uldonation{
    text-align: left;

}
.oldonation{
    padding: 1%;
}
/* donation */
.donation{
    padding: 0%;
    margin: 0%;
    text-align: center;
    background-color: #d0d0d0;
    
}

/* contact us */
.Contact {
    padding: 0%;
    margin: 0%;
    text-align: center;
    background-color: #d0d0d0;
    
}

iframe{
    width: -webkit-fill-available;
}

/* feedback from by user request */
.page-container {
    font-family: Arial, sans-serif;
    background-color: #d9ecd0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
} 
.feedback-form {
    background-color: #d9ecd0;
    padding: 20px;
    border-radius: 5px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    width: 300px;
}
.feedback-form h2 {
    margin-bottom: 20px;
}
.feedback-form input, .feedback-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.feedback-form button {
    background-color: #5cb85c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    
}
.feedback-form button:hover {
    background-color: #4cae4c;
}

/* compleate from request css code */

footer{
    padding: 5px;
    margin: 0;
    text-align: center; 
    background-color:#77a8a8;
}
